@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital@1&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: linear-gradient(90deg, hsla(292, 72, 81, 1) 0%, hsla(265, 67, 84, 1) 25%, hsla(207, 72, 81, 1) 50%, hsla(185, 78, 76, 1) 75%, hsla(180, 81, 72, 1) 100%);
    background-color: -moz-linear-gradient(90deg, hsla(292, 72, 81, 1) 0%, hsla(265, 67, 84, 1) 25%, hsla(207, 72, 81, 1) 50%), hsla(185, 78, 76, 1) 75%, hsla(180, 81, 72, 1) 100%;
    background-color: -webkit-linear-gradient(90deg, hsla(292, 72, 81, 1) 0%, hsla(265, 67, 84, 1) 25%, hsla(207, 72, 81, 1) 50%), hsla(185, 78, 76, 1) 75%, hsla(180, 81, 72, 1) 100%;
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#EAAEF2", endColorstr="#80F2F2", GradientType=1 );
    z-index: -1;
    font-family: 'Chakra Petch', sans-serif;
}

.logo {
    cursor: pointer;
    margin-right: auto;
}

.nav {
    background-image:linear-gradient(to bottom, rgba(143, 244, 255, 1) 0%, 7.222222536802292%, rgba(161, 232, 254, 1) 14.444445073604584%, 17.500000447034836%, rgba(169, 226, 255, 1) 20.555555820465088%, 21.111111342906952%, rgba(171, 226, 255, 1) 21.666666865348816%, 24.166667461395264%, rgba(177, 220, 255, 1) 26.66666805744171%, 27.77777910232544%, rgba(180, 220, 255, 1) 28.888890147209167%, 29.16666716337204%, rgba(180, 218, 255, 1) 29.444444179534912%, 34.72222238779068%, rgba(192, 211, 254, 1) 40.00000059604645%, 41.38888865709305%, rgba(196, 209, 254, 1) 42.77777671813965%, 43.611110746860504%, rgba(197, 208, 254, 1) 44.44444477558136%, 45.83333283662796%, rgba(200, 206, 254, 1) 47.22222089767456%, 50.555554032325745%, rgba(207, 202, 255, 1) 53.88888716697693%, 62.77777552604675%, rgba(224, 192, 255, 1) 71.66666388511658%, 75%, rgba(230, 189, 255, 1) 78.33333611488342%, 89.16666805744171%, rgba(247, 181, 255, 1) 100%);
    height: 55px;
    text-align: center;
}
​
.links {
    padding-top: 20px;
}
.nav a{
    font-size: 30px;
    padding-left: 50px;
    color: yellow;
}
​
.nav a:hover{
    font-size: 30px;
    padding-left: 50px;
    color: purple;
    transition: all 0.3s ease-in-out 0.3s;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: hsla(154, 100%, 76%, 1);
}

button {
    padding:9px 25px;
    background-image: linear-gradient(to top, rgba(143, 244, 255, 1) 0%, 7.222222536802292%, rgba(161, 232, 254, 1) 14.444445073604584%, 17.500000447034836%, rgba(169, 226, 255, 1) 20.555555820465088%, 21.111111342906952%, rgba(171, 226, 255, 1) 21.666666865348816%, 24.166667461395264%, rgba(177, 220, 255, 1) 26.66666805744171%, 27.77777910232544%, rgba(180, 220, 255, 1) 28.888890147209167%, 29.16666716337204%, rgba(180, 218, 255, 1) 29.444444179534912%, 34.72222238779068%, rgba(192, 211, 254, 1) 40.00000059604645%, 41.38888865709305%, rgba(196, 209, 254, 1) 42.77777671813965%, 43.611110746860504%, rgba(197, 208, 254, 1) 44.44444477558136%, 45.83333283662796%, rgba(200, 206, 254, 1) 47.22222089767456%, 50.555554032325745%, rgba(207, 202, 255, 1) 53.88888716697693%, 62.77777552604675%, rgba(224, 192, 255, 1) 71.66666388511658%, 75%, rgba(230, 189, 255, 1) 78.33333611488342%, 89.16666805744171%, rgba(247, 181, 255, 1) 100%);    
    border:none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    ;
}

button:hover {
    background-image: linear-gradient(to bottom, rgba(143, 244, 255, 1) 0%, 7.222222536802292%, rgba(161, 232, 254, 1) 14.444445073604584%, 17.500000447034836%, rgba(169, 226, 255, 1) 20.555555820465088%, 21.111111342906952%, rgba(171, 226, 255, 1) 21.666666865348816%, 24.166667461395264%, rgba(177, 220, 255, 1) 26.66666805744171%, 27.77777910232544%, rgba(180, 220, 255, 1) 28.888890147209167%, 29.16666716337204%, rgba(180, 218, 255, 1) 29.444444179534912%, 34.72222238779068%, rgba(192, 211, 254, 1) 40.00000059604645%, 41.38888865709305%, rgba(196, 209, 254, 1) 42.77777671813965%, 43.611110746860504%, rgba(197, 208, 254, 1) 44.44444477558136%, 45.83333283662796%, rgba(200, 206, 254, 1) 47.22222089767456%, 50.555554032325745%, rgba(207, 202, 255, 1) 53.88888716697693%, 62.77777552604675%, rgba(224, 192, 255, 1) 71.66666388511658%, 75%, rgba(230, 189, 255, 1) 78.33333611488342%, 89.16666805744171%, rgba(247, 181, 255, 1) 100%);
}


li, a, button{
    font-weight: 500;
    font-size: 16px;
    color: hsla(234, 100%, 83%, 1);
    text-decoration: none;
}

header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-left:auto;
    margin-right:auto;
    padding: 30px 10%;
}

body {
    background: hsla(154, 100%, 76%, 1);

background: linear-gradient(90deg, hsla(154, 100%, 76%, 1) 0%, hsla(234, 100%, 83%, 1) 50%, hsla(288, 100%, 81%, 1) 100%);

background: -moz-linear-gradient(90deg, hsla(154, 100%, 76%, 1) 0%, hsla(234, 100%, 83%, 1) 50%, hsla(288, 100%, 81%, 1) 100%);

background: -webkit-linear-gradient(90deg, hsla(154, 100%, 76%, 1) 0%, hsla(234, 100%, 83%, 1) 50%, hsla(288, 100%, 81%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#84FFC9", endColorstr="#AAB2FF", GradientType=1 );
z-index: -1;
}

.centrevideo {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.centreimage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.centrevideo div {
    width: 300;
}

.centretext {
    text-align:center;
}

.headertext {
    color: linear-gradient(hsla(333, 93%, 56%, 1) 0%, hsla(309, 77%, 40%, 1) 11.1%, hsla(276, 91%, 38%, 1) 22.2%,hsla(268, 88%, 36%, 1) 33.3%,hsla(263, 87%, 35%, 1) 44.4%,hsla(258, 86%, 34%, 1) 55.5%,hsla(243, 57%, 50%, 1) 66.6%,hsla(229, 83%, 60%, 1) 77.7%,hsla(212, 84%, 61%, 1) 88.8%,hsla(194, 85%, 62%, 1) 100%);
    text-decoration: none;
}

.sizeh {
    height: 55px;
    width: 75px;
}

.size {
    height: 20%;
    width: 20%;
}

.size1 {
    height: 15%;
    width: 15%;
}

.size2 {
    height: 25%;
    width: 25%;
}

.left {
    float: left;
}

.right {
    float: right;
}

.tab {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
